@page
@model SparkAuto.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete User</h2>
<br />
<form method="post">
    <input type="hidden" asp-for="ApplicationUser.Id" />
    <div class="border backgroundWhite">
        <input asp-for="ApplicationUser.Id" hidden />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.Name" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.PhoneNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.PhoneNumber" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.Email" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.City"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.City" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.Address"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.Address" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ApplicationUser.PostalCode"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.PostalCode" class="form-control" disabled />
            </div>
            <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" />
            </div>
        </div>
    </div>
</form>